extends ./base.jade
block append style
  link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    if username == ""
      .navlink
        a(href="/login") Hello, Guest
      .navlink
        a(href="/login") Login
      .navlink
        a(href="/signup") Sign up
      .navlink
        a(href="/scores") Leaderboard
    else
      .navlink
        a(href="/login") Hello, #{username}
      .navlink
        a(href="/logout") Log out
      .navlink
        a(href="/tracker") Add Score
      .navlink
        a(href="/scores") Scores
      .navlink
        a(href="/leaderboard") Leaderboard
  section#scores
    if !scores || scores.length == 0
      div.score
        h3.emptyScore No Scores yet
    else
      each val in scores
        div.score
          h3.scoreDate Date: 
            span #{val.createdData}
          h3.userName User: 
            span #{val.username}
          h3.userScore Score: 
            span #{val.score}
block scripts
